/* General Styling */
body {
    line-height: 1.6;
    font-size: 16px;
    background-color: #f8f9fa;
    font-family: 'Lato', sans-serif;
    color: #333;
}

.wrapper {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    background-color: #2b302c;
    color: #ecf0f1;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: #3a7c5d;
    border-radius: 5px;
    padding-left: 10px;
}

/* Sidebar Profile Section */
.profile-section {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ecf0f1;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.profile-section h3 {
    margin: 10px 0 5px 0;
    color: #ecf0f1;
    font-size: 1.2rem;
}

.profile-section p {
    margin: 0;
    color: #bdc3c7;
}


/* Header Styling */
.header {
    background-color: #3a7c5d;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Sidebar Toggle */
.sidebar-toggle {
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
}

.sidebar-toggle:focus {
    outline: none;
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-profile img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /*margin-right: 10px;*/
    object-fit: cover;
}

.user-profile span {
    font-size: 1rem;
    font-weight: 500;
    color: #ecf0f1;
}

.user-profile i{
    font-size: 0.9rem;
    transition: transform 0.3s;
}

.user-profile i.rotate {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    color: #2c3e50;
    width: 150px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #2c3e50;
    transition: background-color 0.2s;
}

.dropdown-menu a:hover {
    background-color: #3a7c5d;
}

/* Footer Styling */
.footer {
    background-color: #3a7c5d;
    color: #f8f9fa;
    padding: 20px;
    text-align: center;
}